<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="smsRuLogin" value="" />
    <add key="smsRuPassword" value="" />
    <add key="smsRuApiID" value="" />
    <add key="partnerID" value="" />
    <add key="logFolder" value="C:\Temp\SmsRu\" />
    <add key="smsRuEmail" value="" />
    <add key="email" value="" />
    <add key="smtpServer" value="" />
    <add key="smtpPort" value="" />
    <add key="smtpLogin" value="" />
    <add key="smtpPassword" value="" />
    <add key="smtpUseSSL" value="" />
    <add key="translit" value="" />
    <add key="test" value="" />
  </appSettings>
</configuration>
